@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

/* RESET AND GLOBALS */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;

  /* CSS Variables for colors */
  --text: #040507;
  --background: #f1f4f9;
  --primary: #064852;
  --secondary: #87d7bf;
  --accent: #38686d;



  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "Space Grotesk", sans-serif;
  color: var(--text);
  background-color: var(--background);
  font-size: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--text);
  background-color: inherit;
}

footer p {
  background-color: var(--text);
  color: white;
  padding: 1em 0;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

li > a:hover,
a.navlink:hover {
  color: var(--primary);
  text-decoration: underline;
  transition: all 0.3s;
}

h2.subtitle {
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  margin: 1em 0;
  color: var(--text);
}





svg {
  background-color: transparent;
}

select {
  padding: 0.5em 3em 0.5em 0.5em;
  border: 1px solid var(--text);
  border-radius: 0.5em;
  position: relative;
}

/* ############################################################ */


/* ANIMATIONS */
@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  /* ############################################################ */
/* BUTTONS */
.btn-primary {
    background-color: var(--primary);
    color: var(--background);
    padding: 0.5em 0.2em;
    width: fit-content;
    border-radius: 0.5em;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .btn-outline {
    background-color: var(--background);
    border: 1px solid var(--primary);
    color: var(--text);
  }
  
  .btn-ghost {
    background-color: white;
    color: var(--text);
  }
  
  .btn-primary:hover {
    background-color: var(--accent);
  }
  
  .btn-outline:hover {
    background-color: var(--primary);
    color: white;
  }
  
  /* ############################################################ */
  /* FORMULAIRE DE CONNEXION */


.login-form {
    background-color: var(--background);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--primary);
    width: 300px;
}

.login-form h2, h3 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.action{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
}
