
div.table {
    width: fit-content;
    height: fit-content;
  
    border: 1px solid var(--text);
    border-radius: 0.5em;
    overflow: hidden;
  }
  
  table {
    width: 100%;
  }
  
  table,
  th,
  td {
    padding: 1em;
    border-collapse: collapse;
  }
  
  td svg {
    background-color: transparent;
    vertical-align: sub;
  }
  
  thead th {
    background-color: var(--accent);
  }
  
  tbody tr:nth-child(even) {
    background-color: #0000000b;
  }
  
  tbody tr:hover {
    background-color: #fff6;
  }
  
  
  div.data-table {
    width: 100%;
  }
  
  div.table-filters {
    display: flex;
    gap: 1em;
    padding-bottom: 1em;
  }
  
  div.table-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1em;
  }
  
  /* ############################################################ */
  